.navbar {
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  background: #222;
  color: white;
  z-index: 1000;
}

/* desktop menu */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* hamburger hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;

    background: #222;
    flex-direction: column;
    width: 200px;
    padding: 20px;
  }

  .nav-links.open {
    display: flex;
  }
}
